*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(243, 243, 243);
}
/* ======HEADER======== */
 header{
    background-color: #FFF1B9;
    width:100%;
    display: table;
    position: fixed;
 }
 #menu{
    width: 90%;
    margin: 0 auto;
    padding:0.5% 0% 5% 5%;
 }
#header-img{
    width: 15%;
    float: left;
}
nav{
    float: right;
}
#opciones li{
    list-style: none;
    margin-left: 160px;
    padding: 3% 0;
    float: left;
    font-size: 18px;
}
li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
/* ========IMG========= */
aside{
   width: 85%;
   margin: auto;
   padding: 2%;
  
}
aside img{
    max-width:80%;
    display: block;
    height: auto;
    margin: auto;
}
/* =========form========= */
#form{
    width: 15%;
    margin: auto;
    text-align: center;
}
#form #email{
    border-radius: 3px;
    border: 1.5px solid black;
    margin: 3%;
    padding: 2%;
}
#form #submit{
    width: 50%;
    background-color: gold;
    font-weight:550;
    font-size: 1.2rem;
    border-radius: 3px ;
    margin-bottom: 5%;
    border: 1.5px solid black;
}
/* ==================features============ */
#main{
    width: 80%;
    margin: auto;
    border-radius: 8px;
    background-color: rgba(235, 234, 232, 0.651);
    padding: 3%;
    display: flex;
    flex-direction: column;
}
#main #features{
    width: 80%;
    margin: auto;
    margin-top: 2%;
}
p a{
    text-decoration: none;
    color: rgb(248, 88, 88);
    font-weight: bolder;
}
/* ============Video============= */
#container-video{
    width: 70%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: center;
}
#container-video h2{
    margin: 1.5%;   
    font-family:serif;
}
#container-video h2:hover{
    background-color: gold;
    transition: 2s;
}
/* ===============Cards=============== */
#cards{
    width: 95%;
    height: auto;
    margin: auto;  
    text-align: center; 
}
#cards #card{
    width: 26%;
    margin: auto;
    margin-bottom: 3%;
    border-radius: 4px;
    border: 2px solid rgba(196, 194, 190, 0.87);
    padding: 1.5%;
    padding-top: 0.5%;
    display: inline-block;
    
}
#cards h2{
    text-align: center;
    margin-bottom: 2%;
    background-color: rgba(199, 199, 193, 0.507);    
}

#cards h3{
    margin: 2.5%;
}
#cards h3:hover{
    color: green;
}
#cards button{
    margin: 2%;
    border-radius: 4px;
    border: solid 1px black;
    padding: 1%;
    width: 40%;
    font-size: 1.05em;
    font-weight: bolder;
    background-color: gold;
}
/* ============@media============= */
@media (max-width:550px){
    #cards #cards{
        display: flex;
        flex-direction: column;
    }
}